extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
      li 
        a(href='/userlist') Display the list of books
      li
        a(href='/newuser') Add a book
      li
        a(href='/changeuser') Update a book
      li
        a(href='/remuser') Delete a book
  