extends layout

block content
  h1= "Display the list of books"
  p 
  strong Title Author 
                  
  table
     each book, i in userlist
        tr
          td #{book}
  p
  p
  a(href='/') Home